# Instructor Do: The K-Means Algorithm

In [4]:
# Initial imports
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
# import plotly.express as px
# import hvplot.pandas
from pathlib import Path

In [5]:
# Loading data
file_path = Path("data/new_iris_data.csv")
df_iris = pd.read_csv(file_path)
df_iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2
8           4.4          2.9           1.4          0.2
9           4.9          3.1           1.5          0.1

## Using K-Means

In [8]:
# Initializing model with K = 3 (since we already know there are three classes of iris plants)
model = KMeans(n_clusters=3, random_state=5)

In [9]:
# Fitting model
model.fit(df_iris)

KMeans(n_clusters=3, random_state=5)

In [10]:
# Get predictions
predictions = model.predict(df_iris)
print(predictions)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 2 2 2 2 0 2 2 2 2
 2 2 0 0 2 2 2 2 0 2 0 2 0 2 2 0 0 2 2 2 2 2 0 2 2 2 2 0 2 2 2 0 2 2 2 0 2
 2 0]

In [ ]:
# Add a new class column to df_iris

In [ ]:
# Plotting the clusters with two features

In [ ]:
# Plotting the clusters with three features

## Finding the best value for _k_ using the Elbow Curve

In [ ]:
inertia = []
k = list(range(1, 11))

# Looking for the best k

# Define a DataFrame to plot the Elbow Curve using hvPlot