# Students Do: Preventing credit card defaults with neural networks

In this activity, you will train a neural network model to predict whether a credit card holder will default in the next month.

The dataset provided contains `30,000` anonymous records of credit default status with `23` features columns and one binary target column entitled _DEFAULT_, where `1` represents a defaulted credit card.

The `23` features include demographic info (age, gender, marital status, etc.), credit limit, past payment details, and other relevant information.

You are tasked to create a neural network model to predict if a credit card holder will default.

In [1]:
# Initial imports
import pandas as pd
from path import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_splittest_split

%matplotlib inline

In [2]:
# Set a random seed for TensorFlow to allow reproducible testing results
tf.random.set_seed(126)

## Instructions

1. Load the data in a Pandas DataFrame.

In [4]:
# Read in data
file_path = Path("../Resources/cc_default.csv")
df = pd.read_csv(file_path)
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,"""BILL_AMT4""",BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

2. Define the features set `X` by including all the columns of the DataFrame except the `DEFAULT` column.

In [ ]:
# Define features data
X = df.copy()
X = X.drop(column)

3. Create the target vector `y` by assigning the values of the `DEFAULT` column of the DataFrame.

In [ ]:
# Define target data
y = df["DEFAULT"]

4. Create the training an testing sets using the `train_test_split` function from `sklearn`.

In [ ]:
# Create training and testing datasets

5. Scale the features data using the `StandardScaler` from `sklearn`.

In [ ]:
# Create the scaler instance

In [ ]:
# Fit the scaler

In [ ]:
# Scale the features data

6. Create a neural network model with `23` inputs, one hidden layer with `69` units, and an output layer with a single output. Use the `relu` activation function for the first layer and `sigmoid` for the second layer.

In [ ]:
# Define the model
number_inputs = 23
number_hidden_nodes = 69

7. Compile the neural network model using the `binary_crossentropy` loss function, the `adam` optimizer, and `accuracy` as additional metric.

In [ ]:
# Compile model

8. Fit the model with `100` epochs.

In [ ]:
# Fit the model

9. Plot the loss function and accuracy.

In [ ]:
# Create a DataFrame with the history dictionary


# Plot the loss

In [ ]:
# Plot the accuracy

10. Evaluate the model using testing data and the `evaluate` method.

In [ ]:
# Evaluate the model fit with linear dummy data

## Challenge

For this challenge section, you have to figure out how the model you created could be modified to improve the accuracy.

1. Review the Keras documentation about activation functions, and decide if there is anyone that could be used instead of `sigmoid`.

2. Add a second hidden layer with `69` units and use a different activation function than `sigmoid`.

3. Change any other parameter that you believe could improve the model's accuracy.

4. Evaluate the model's accuracy and loss and write down your conclusions.

In [ ]:
# Define the model

In [ ]:
# Compile model

In [ ]:
# Fit the model

In [ ]:
# Evaluate the model fit with linear dummy data

### Conclusions

**Your Answer Here**